# Entrada estándar.
Normalmaente cuando trabajamos con programas, las entradas estándar son muy usadas. Para que esto sea posible, usamos la función input()

In [1]:
entrada = input()

Este es la entrada estándar.

In [2]:
entrada

'Este es la entrada estándar.'

##### Se puede guardar una valor, un número u otro valor.

In [5]:
lista = input()

43.4

In [6]:
lista

'43.4'

In [7]:
numero = input()

2000

In [8]:
numero

'2000'

***Tal y como se puede visualizar, los datos son guardados como cadenas de caracteres***.

Algo interesante que tiene **Python** es que la función ***input()*** está sobre cargada, ejemplo:

In [9]:
tmp = input("Escribe un numero: ")

Escribe un numero: 5665420

In [10]:
tmp

'5665420'

Dado que la función **input()** toma la entrada como cadena, si nosotros queremos por ejemplo sumar un valor, marcaría error.

In [11]:
aux = input("X = ")

X = 456

In [12]:
aux + 22
aux

TypeError: must be str, not int

Para poder trabajar con la forma de datos que queremos, debemos convertir al valor esperado.

In [13]:
value = input("Valor: ")

Valor: 8320

In [14]:
value = int(value)
value

8320

De hecho, desde la entrada estándar es posible hacerlo.

In [15]:
value = int(input("Valor: "))

Valor: 8987

In [16]:
value

8987

Sin embargo, si el tipo de dato que se ingresa no corresponde, y se intenta convertir, surge un error.

In [17]:
value = input("Valor : ")

Valor : 7878.212

In [18]:
value = int(value)

ValueError: invalid literal for int() with base 10: '7878.212'

Por ello, se utilizan las conversiones correspondientes, en este caso **float**

In [19]:
value = float(value)
value

7878.212

In [21]:
value + 10

7888.212

In [22]:
val_float = float(input("Give a float value: "))

Give a float value: 7885.56545

In [23]:
val_float

7885.56545