# Conjuntos
- Son colecciones de **elementos desordenados.**
- Se usan normalmente para **hacer pruebas de pertenencia** a ***grupos*** y ***eliminación de elementos duplicados.***
- Soportan operaciones matemáticas avanzadas.
- Los conjuntos son o**bjetos mutables.**

In [2]:
conjunto = set()        #Conjunto vacio
conjunto

set()

In [43]:
setA = set(range(21))
setA

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [3]:
conjunto_A = {1,2,3,4,5,6} 
conjunto_A

{1, 2, 3, 4, 5, 6}

Se dice que **los conjuntos son desordenados**, porque a medida que añadimos elementos a un conjunto, **este orden no se conserva**, como con las listas.

###  Añadir elementos: .add()
Sirve para añadir elementos a un conjunto indicandolo como elemento.

In [4]:
conjunto_A.add(7)
conjunto_A

{1, 2, 3, 4, 5, 6, 7}

Pero **si añadimos al cero, 0, pasa algo raro**

In [7]:
conjunto_A.add(0)
conjunto_A

{0, 1, 2, 3, 4, 5, 6, 7}

Asimismo, **pueden añadirse números, texta, letras**

In [8]:
conjunto_A.add("H")
conjunto_A

{0, 1, 2, 3, 4, 5, 6, 7, 'H'}

Pareciera que *primero agrega los números y luego las letras en 'orden'*, **pero NO ES ASÍ**.

In [13]:
conjunto_A.add("A")
conjunto_A.add("Z")
conjunto_A

{0, 1, 2, 3, 4, 5, 6, 7, 'A', 'H', 'Z'}

###  Quitar elementos: .discard()
Sirve para añadir elementos a un conjunto indicandolo como argumento

In [44]:
conjunto_A.discard(0)
conjunto_A

{1, 2, 3, 4, 5, 6, 7, 'A', 'H', 'Z'}

In [46]:
conjunto_A.discard("H")
conjunto_A

{1, 2, 3, 4, 5, 6, 7, 'A', 'Z'}

Nótese que **si el elemento pasado como argumento a discard() no está dentro del conjunto es simplemente ignorado**

In [47]:
conjunto_A.discard("W")
conjunto_A

{1, 2, 3, 4, 5, 6, 7, 'A', 'Z'}

## PERTENENCIA A GRUPOS.
***LOS CONJUNTOS SON MUY UTILIZADOS PARA VERIFICAR LA PERTENENCIA DE ELEMENTOS A GRUPOS.***

In [14]:
grupo = {"Juan", "Ramón", "María", "Rodrigo", "Jesús"}

"Ramón" in grupo

True

In [15]:
"José" in grupo

False

In [16]:
"Héctor" not in grupo

True

## CARACTERÍSITCA INTERENSATE
Una peculiaridad es que **NO PUEDEN HABER DOS ELEMENTOS DUPLICADOS EN ÉL**

In [18]:
nombres = {"Maria", "Jose", "Maria", "Oscar", "Ramiro", "Rosa", "Jose"}
nombres

{'Jose', 'Maria', 'Oscar', 'Ramiro', 'Rosa'}

# CONVERTIR
Se pueden **convertir listas a conjuntos** y también **convertir conjuntos a listas**.

Podemos usar esta idea *utilizando **listas***. Por ejemplo:

In [19]:
lista = [2,4,1,4,3,2,1,3]
lista

[2, 4, 1, 4, 3, 2, 1, 3]

In [21]:
conjunto_B = set(lista)
conjunto_B

{1, 2, 3, 4}

Y si nosotros queremos **convertir el conjunto a una lista**, para operarlo como una lista, podemos hacer lo siguiente.

In [23]:
lista = list(conjunto_B)
lista

[1, 2, 3, 4]

Aunque **esto puede hacerse en una sola linea**.

In [27]:
lista = [2,4,1,4,3,2,1,3]
lista = list( set(lista) )
lista

[1, 2, 3, 4]

# CONJUNTOS CON CADENAS
Esta idea también puede ser adaptada para **cadenas de caracteres**

In [33]:
string = "Al pan pan y al vino vino"
string = set(string)
string

{' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}

In [30]:
sorted(set(string))

[' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y']

In [39]:
string.add((1,4,4))
string

{' ', (1, 4, 4), 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}

In [40]:
string.add({2,4,5})

TypeError: unhashable type: 'set'

In [41]:
string.add([5,67,4,3,1])

TypeError: unhashable type: 'list'

# IMPORTANTE
No obstante, **un conjunto no puede incluir objetos mutables como listas, diccionarios, e incluso otros conjuntos.**

In [42]:
s = {[1, 2]}

TypeError: unhashable type: 'list'