# Conjuntos
- Son colecciones de **elementos desordenados.**
- Se usan normalmente para **hacer pruebas de pertenencia** a ***grupos*** y ***eliminación de elementos duplicados.***
- Soportan operaciones matemáticas avanzadas.
- Los conjuntos son o**bjetos mutables.**

In [72]:
conjunto = set()        #Conjunto vacio
conjunto

set()

In [73]:
setA = set(range(21))
setA

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [74]:
conjunto_A = {1,2,3,4,5,6} 
conjunto_A

{1, 2, 3, 4, 5, 6}

Se dice que **los conjuntos son desordenados**, porque a medida que añadimos elementos a un conjunto, **este orden no se conserva**, como con las listas.

###  Añadir elementos: .add()
Sirve para añadir elementos a un conjunto indicandolo como elemento.

In [75]:
conjunto_A.add(7)
conjunto_A

{1, 2, 3, 4, 5, 6, 7}

Pero **si añadimos al cero, 0, pasa algo raro**

In [76]:
conjunto_A.add(0)
conjunto_A

{0, 1, 2, 3, 4, 5, 6, 7}

Asimismo, **pueden añadirse números, texta, letras**

In [77]:
conjunto_A.add("H")
conjunto_A

{0, 1, 2, 3, 4, 5, 6, 7, 'H'}

Pareciera que *primero agrega los números y luego las letras en 'orden'*, **pero NO ES ASÍ**.

In [78]:
conjunto_A.add("A")
conjunto_A.add("Z")
conjunto_A

{0, 1, 2, 3, 4, 5, 6, 7, 'A', 'H', 'Z'}

###  Quitar elementos: .discard()
Sirve para quitar elementos a un conjunto indicandolo como argumento

In [79]:
conjunto_A.discard(0)
conjunto_A

{1, 2, 3, 4, 5, 6, 7, 'A', 'H', 'Z'}

In [80]:
conjunto_A.discard("H")
conjunto_A

{1, 2, 3, 4, 5, 6, 7, 'A', 'Z'}

Nótese que **si el elemento pasado como argumento a discard() no está dentro del conjunto es simplemente ignorado**

In [81]:
conjunto_A.discard("W")
conjunto_A

{1, 2, 3, 4, 5, 6, 7, 'A', 'Z'}

## PERTENENCIA A GRUPOS.
***LOS CONJUNTOS SON MUY UTILIZADOS PARA VERIFICAR LA PERTENENCIA DE ELEMENTOS A GRUPOS.***

In [82]:
grupo = {"Juan", "Ramón", "María", "Rodrigo", "Jesús"}

"Ramón" in grupo

True

In [83]:
"José" in grupo

False

In [84]:
"Héctor" not in grupo

True

## CARACTERÍSITCA INTERENSATE
Una peculiaridad es que **NO PUEDEN HABER DOS ELEMENTOS DUPLICADOS EN ÉL**

In [85]:
nombres = {"Maria", "Jose", "Maria", "Oscar", "Ramiro", "Rosa", "Jose"}
nombres

{'Jose', 'Maria', 'Oscar', 'Ramiro', 'Rosa'}

# CONVERTIR
Se pueden **convertir listas a conjuntos** y también **convertir conjuntos a listas**.

Podemos usar esta idea *utilizando **listas***. Por ejemplo:

In [86]:
lista = [2,4,1,4,3,2,1,3]
lista

[2, 4, 1, 4, 3, 2, 1, 3]

In [87]:
conjunto_B = set(lista)
conjunto_B

{1, 2, 3, 4}

Y si nosotros queremos **convertir el conjunto a una lista**, para operarlo como una lista, podemos hacer lo siguiente.

In [88]:
lista = list(conjunto_B)
lista

[1, 2, 3, 4]

Aunque **esto puede hacerse en una sola linea**.

In [89]:
lista = [2,4,1,4,3,2,1,3]
lista = list( set(lista) )
lista

[1, 2, 3, 4]

### Eliminar los elementos de un conjunto: .clear()
Se puede eliminar los elementos usando la función **.clear()**

In [90]:
s = set(range(15))
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [91]:
s.clear()
s

set()

El método ***pop()* retorna un elemento en forma aleatoria** (no podría ser de otra manera ya que los elementos no están ordenados). Así, el siguiente bucle imprime y remueve uno por uno los miembros de un conjunto.

In [92]:
s = set(range(15))
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [94]:
while s:
    print(s.pop())

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [95]:
s

set()

# CONJUNTOS CON CADENAS
Esta idea también puede ser adaptada para **cadenas de caracteres**

In [96]:
string = "Al pan pan y al vino vino"
string = set(string)
string

{' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}

In [97]:
sorted(set(string))

[' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y']

In [98]:
string.add((1,4,4))
string

{' ', (1, 4, 4), 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}

In [99]:
string.add({2,4,5})

TypeError: unhashable type: 'set'

In [100]:
string.add([5,67,4,3,1])

TypeError: unhashable type: 'list'

# IMPORTANTE
No obstante, **un conjunto no puede incluir objetos mutables como listas, diccionarios, e incluso otros conjuntos.**

In [101]:
s = {[1, 2]}

TypeError: unhashable type: 'list'

# Operaciones con conjuntos
Contemplando el álgebra de conjuntos, se pueden hacer las siguientes operaciones.
- **Unión:** Retorna un conjunto que contiene los elementos que se encuentran en al menos uno de los dos conjuntos involucrados en la operación
- **Intersección:** Retorna un nuevo conjunto con los elementos que se encuentran en ambos.
- **Diferencia:** Retorna un nuevo conjunto que contiene los elementos de a que no están en b.

### UNION
Se puede utilizar el pipe **|** o bien la **función union()**

In [102]:
A = set(range(0,5))
A

{0, 1, 2, 3, 4}

In [103]:
B = set(range(3,10))
B

{3, 4, 5, 6, 7, 8, 9}

In [104]:
A | B

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [105]:
A.union(B)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

Como podemos ver, el pipe **|** y la función **union()** retornan un nuevo conjunto, pero el conjunto **A y B** conservan sus valores.

In [106]:
A

{0, 1, 2, 3, 4}

In [107]:
B

{3, 4, 5, 6, 7, 8, 9}

### INTERSECCIÓN.
Se puede utilizar el operador **&** o bien la función **intersection()**.

In [108]:
A & B

{3, 4}

In [109]:
A.intersection(B)

{3, 4}

### DIFERENCIA o COMPLEMENTO RELATIVO
Para realizar esta operación se usa el utilizando la **función .difference()** o bien **operador menos: -**.
- X - Y
- x \ Y

In [110]:
A - B

{0, 1, 2}

In [111]:
A.difference(B)

{0, 1, 2}

In [112]:
B - A

{5, 6, 7, 8, 9}

In [113]:
B.difference(A)

{5, 6, 7, 8, 9}

### CONJUNTOS Y SUBCONJUNTOS
Para saber si un conjunto es subconjunto de otro, se puede realizar de 2 maneras, principalmente.
- Utilizando la función **issubset()**
- Utilizando el operador **<**: El operador **<** aplicado sobre conjuntos significa «es subconjunto de»

In [114]:
A = set(range(0,8))
B = set(range(4,10))
C = set(range(0,6))
A

{0, 1, 2, 3, 4, 5, 6, 7}

In [115]:
B

{4, 5, 6, 7, 8, 9}

In [116]:
C

{0, 1, 2, 3, 4, 5}

In [117]:
A.issubset(B)

False

In [118]:
A < B

False

In [119]:
C.issubset(A)

True

In [120]:
C < A

True

In [121]:
C.issubset(B)

False

In [122]:
C < B

False

También se puede **verificar la igualdad entre conjuntos.** El orden de los elementos no importa.

In [123]:
A == B

False

In [124]:
B == C

False

In [125]:
C != B

True

**ENTONCES PODEMOS DECIR QUE**
1. A es un subconjunto de B cuando todos los elementos de A están incluidos en B, relación que expresamos por:
    - A <= B    o     B >= A

Además, se puede utilizar el operador **<=**, también indica si s es subconjunto de t. **La distinción ocurre cuando los conjuntos son iguales.**

In [126]:
B

{4, 5, 6, 7, 8, 9}

In [127]:
D = set(range(4,10))
D

{4, 5, 6, 7, 8, 9}

In [49]:
D <= B      # D está contenido en o es B.

True

In [53]:
B <= D      # B está contenido en o es D

True

In [58]:
B < D       # B está contenido en D

False

In [54]:
D >= A      # A está contenido en o es D

False

In [56]:
A >= C      # C está contenido en o es A

True

## OTRAS OPERACIONES
Además de las ya mencionadas, **las cuales son las principales**, hay otras operaciones que se pueden usar al trabajar con conjuntos, como por ejemplo.

- **Superconjunto:** Cuanto un conjunto X contiene a todos los elementos de un conjunto Y
- **Diferencia simétrica:** Retorna un nuevo conjunto el cual ***contiene los elementos que pertenecen a alguno de los dos conjuntos que participan en la operación pero no a ambos***.
    - También se le conoce como **unión exclusiva**; conjunto de elementos que están en A o B, pero no en ambos:
- **Subconjunto propio**: Todo elemento de Y es elemento de X, pero no todo elemento de X es elemento de Y.

### SUPERCONJUNTO

In [59]:
c1 = {1, 2, 3}
c2 = {1, 2, 3}
c3 = {1, 2, 3, 4, 5, 6}

In [60]:
c1.issubset(c3)

True

In [61]:
# entonces podemos decir que
c1 <= c3

True

In [62]:
# O a su vez también
c3 >= c1

True

In [64]:
# Pero puede expresarse como un superconjunto.
c3.issuperset(c1)       # que debes leerlo como c3 es superconjunto de c1

True

### DIFERENCIA SIMÉTRICA o UNION EXCLUSIVA.

In [66]:
c1

{1, 2, 3}

In [68]:
c3

{1, 2, 3, 4, 5, 6}

In [69]:
c1 ^ c3

{4, 5, 6}

In [128]:
c1.symmetric_difference(c3)

{4, 5, 6}